@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var tp = $.request("tp");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/PublicBusines/ComClass/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        $("#ParentId").bindSelect({
            url: "/PublicBusines/ComClass/GetTreeSelectJson"
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/PublicBusines/ComClass/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function (data) {
                if (tp != undefined && tp == "tab") {
                    top.ItemsType.$("#gridList2").resetSelection();
                    top.ItemsType.$("#gridList2").trigger("reloadGrid");
                } else {
                    $.currentWindow().$("#gridList").resetSelection();
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                    console.log(2);
                }
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">上级</th>
                    <td class="formValue">
                        <select id="ParentId" name="ParentId" class="form-control required">
                            <option value="0">父节点</option>
                        </select>
                    </td>
                    <th class="formTitle">标题</th>
                    <td class="formValue">
                        <input id="Title" name="Title" type="text" class="form-control required" placeholder="请输入标题" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">副标题</th>
                    <td class="formValue">
                        <input id="Subtitle" name="Subtitle" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">排序</th>
                    <td class="formValue">
                        <input id="Sort" name="Sort" type="text" class="form-control required number" placeholder="请输入排序" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle" style="height: 35px;">是否启用</th>
                    <td class="formValue" colspan="3" style="padding-top: 1px;">
                        <div class="ckbox">
                            <input id="IsEnable" name="IsEnable" type="checkbox" checked="checked"><label for="IsEnable">是否启用</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 100px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
