@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style type="text/css">
    .coverimg {
        width: 264px;
        height: 120px;
        float: left;
    }

    input[type=file] {
        float: left;
        width: 90px;
        margin-top: 62px;
        margin-left: 20px;
    }

    .UploadError {
        width: 200px;
        height:20px;
        overflow: hidden;
    }
</style>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/PublicBusines/Client/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data.model);
                    $("#PassWord").attr("disabled", "disabled");
                    $("#Birthday").val(data.Birthday);
                    if (data.model.HeadPortrait != null && data.model.HeadPortrait.length > 10) {
                        $(".coverimg").attr("src", data.model.HeadPortrait);
                    }
                }
            });
        }
    });
    function initControl() {

        $("#RoleID").bindSelect({
            url: "/PublicBusines/ComClass/GetSelectByParent",
            param: { parentId: "comclass_XJhAC7EhUZ4ukJtBCSJ16M0agbWOSeQm" }
        });
        $("#Gender").bindSelect();
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/PublicBusines/Client/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    //上传图片
    function Upload(e) {
        var files = e.files;
        if (files.length < 1) {
            $.modalMsg("请选择上传的图片");
            return;
        }
        var data = new FormData();
        data.append("file", files[0]);

        let xhr = new XMLHttpRequest();
        xhr.upload.onprogress = function (ev) {
            $(".UploadError").text('获取文件进度：' + (100 * ev.loaded / ev.total).toFixed(2) + '%');
        }
        xhr.open('POST', '/SystemManage/UpLoad/UpLoadImage', true);
        xhr.send(data);
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var result = jQuery.parseJSON(this.response);
                if (result.data == null) {
                    $.modalMsg("Upload Error");
                    return;
                }
                $("#HeadPortrait").val($(result.data)[0]);
                $(".coverimg").attr("src", $(result.data)[0]);
                $(".UploadError").text($(result.data)[0]);
                $.modalMsg("上传成功");
            }
        }
    }
</script>

<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
        </ul>
        <div>
            <table class="form">
                <tr>
                    <th class="formTitle">账号</th>
                    <td class="formValue">
                        <input id="AccountNo" name="AccountNo" disabled="disabled" type="text"
                               class="form-control" placeholder="请输入账号" />
                    </td>
                    <th class="formTitle">昵称</th>
                    <td class="formValue">
                        <input id="NickName" name="NickName" type="text" class="form-control required" placeholder="请输入昵称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">头像</th>
                    <td colspan="3" class="formValue">
                        <img src="~/Content/img/covering.png" alt="..." class="img-thumbnail coverimg">
                        <div class="UploadError"></div>
                        <input type="file" value="上传图片" class="btn btn-default" onchange="Upload(this)" />
                        <input id="HeadPortrait" name="HeadPortrait" type="hidden" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">手机号码</th>
                    <td class="formValue">
                        <input id="Mobile" name="Mobile" type="text" class="form-control required" placeholder="请输入手机号码" />
                    </td>
                    <th class="formTitle">邮箱</th>
                    <td class="formValue">
                        <input id="Email" name="Email" type="text" class="form-control" placeholder="请输入邮箱" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">年龄</th>
                    <td class="formValue">
                        <input id="Age" name="Age" type="text" class="form-control number" placeholder="请输入年龄" />
                    </td>
                    <th class="formTitle">生日</th>
                    <td class="formValue">
                        <input id="Birthday" name="Birthday" dateFmt="yyyy-MM-dd hh:mm:ss" type="text"
                               class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">性别</th>
                    <td class="formValue">
                        <select id="Gender" name="Gender" class="form-control">
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </td>
                    <th class="formTitle">登录密码</th>
                    <td class="formValue">
                        <input id="PassWord" name="PassWord" type="password" class="form-control required" placeholder="请输入密码" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">角色</th>
                    <td class="formValue">
                        <select id="RoleID" name="RoleID" class="form-control required"></select>
                    </td>
                    <th class="formTitle">身份证</th>
                    <td class="formValue">
                        <input id="IdCard" name="IdCard" type="text" class="form-control" placeholder="请输入身份证" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">设备号</th>
                    <td colspan="3" class="formValue">
                        <input id="DeviceNo" name="DeviceNo" type="text" class="form-control" placeholder="请输入设备号" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">积分</th>
                    <td class="formValue">
                        <input id="Integral" name="Integral" disabled="disabled" type="text" class="form-control number" placeholder="请输入积分" />
                    </td>
                    <th class="formTitle">余额</th>
                    <td class="formValue">
                        <input id="Balance" name="Balance" disabled="disabled" type="text" class="form-control number" placeholder="请输入余额" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">经度</th>
                    <td class="formValue">
                        <input id="Lat" name="Lat" type="text" class="form-control" placeholder="请输入经度" />
                    </td>
                    <th class="formTitle">纬度</th>
                    <td class="formValue">
                        <input id="Lng" name="Lng" type="text" class="form-control" placeholder="请输入纬度" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">微信</th>
                    <td class="formValue">
                        <input id="WechatNo" name="WechatNo" type="text" class="form-control" placeholder="请输入微信" />
                    </td>
                    <th class="formTitle">QQ</th>
                    <td class="formValue">
                        <input id="QQNumber" name="QQNumber" type="text" class="form-control" placeholder="请输入QQ" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">省份</th>
                    <td class="formValue">
                        <input id="Province" name="Province" type="text" class="form-control" placeholder="请输入省份" />
                    </td>
                    <th class="formTitle">城市</th>
                    <td class="formValue">
                        <input id="City" name="City" type="text" class="form-control" placeholder="请输入城市" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">区域</th>
                    <td class="formValue">
                        <input id="Region" name="Region" type="text" class="form-control" placeholder="请输入区域" />
                    </td>
                    <th class="formTitle">地址</th>
                    <td class="formValue">
                        <input id="Address" name="Address" type="text" class="form-control" placeholder="请输入地址" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 80px;width: 480px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>