@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .tok_option {
        cursor: pointer;
    }
</style>
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PublicBusines/DeviceVersion/GetGridJson",
            postData: { keyword: $("#txt_keyword").val()},
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'Sid', hidden: true },
                { label: '标题', name: 'Title', width: 120, align: 'left' },
				{ label: '版本号', name: 'Version', width: 60, align: 'left' },
                {
                    label: "是否启用", name: "IsEnable", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: '路径', name: 'Path', width: 340, align: 'left' },
                {
                    label: '创建时间', name: 'CreateDate', width: 80, align: 'center',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d h:i:s', newformat: 'Y-m-d h:i:s' }
                }
            ],
            pager: "#gridPager",
            sortname: 'CreateDate desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val()},
            }).trigger('reloadGrid');
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "添加版本",
            url: "/PublicBusines/DeviceVersion/Form",
            width: "560px",
            height: "450px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().Sid;

        if (keyValue == undefined || keyValue.length < 16) {
            $.modalMsg("请选择需要编辑列");
            return;
        }

        $.modalOpen({
            id: "Form",
            title: "修改版本",
            url: "/PublicBusines/DeviceVersion/Form?keyValue=" + keyValue,
            width: "560px",
            height: "450px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {

        var keyvalue = $("#gridList").jqGridRowValue().Sid;
        if (keyvalue == undefined || keyvalue.length < 16) {
            $.modalMsg("请选择需要删除列");
            return;
        }

        $.deleteForm({
            url: "/PublicBusines/DeviceVersion/DeleteForm",
            param: { keyValue: keyvalue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>添加版本</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑版本</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除版本</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="模糊查询" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
