@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SystemManage/AdminUser/SubmitResetPassWord?adminUserSid=" + keyValue+"&passWord=" + $("#PassWord").val(),
            param: $("#form1").formSerialize(),
            success: function () {
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.loading(false)
            }
        })
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">密码</th>
                <td class="formValue">
                    <input id="PassWord" name="PassWord" type="password" class="form-control required" placeholder="请输入新密码" />
                </td>
            </tr>
        </table>
    </div>
</form>